.c-button {
    cursor: pointer;
    border: 1px solid #FD6B1C;
    background-color: #FD6B1C;
    color: white;
    padding:14px;
    width: 100% ;
    &--secudary {
        background-color: white;
        color: #FD6B1C;
    }

    &--tertiary {
        background-color: transparent;
        color: #FD6B1C;
        border: none;
    }
    &--tertiary-alt{
        background-color: transparent;
        color:#0082E6;
        border: none;
    }

    &--alternative {
        margin-left: 0px;
        background-color: #0082E6;
        border-color: #0082E6;
        color: white;
    }
    &--dangerous{
        background-color: #c53030;
        border-color: #c53030;
        color: white;
    }
}