.c-card {
  height: 800px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-image: url("../assets/img/portada.jpg");
  position: relative;
  z-index: 1;

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 50px;
  }
}


// .c-card::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.605);
//   z-index: -1;
// }