.c-especialidad {
    background-color: #FFFFFF;
    margin: 12px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    border-radius: 6px;
    &__img{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100px;
    }
    &__content{
        padding-left: 16px;
        padding-right: 16px;
    }
    &__familia{
        border-top: 1px solid #F0F0F0;
        padding-top: 16px;
        padding-bottom: 16px;
        line-height: 1.4;
    }
    &__modalidad{
        padding-top: 16px;
        padding-bottom: 16px;
        line-height: 1.4;
    }
}